// Colors
$tomato: hsl(4, 100%, 67%);
$dark-slate-gray:  hsl(234, 29%, 20%);
$charcoal-gray:  hsl(235, 18%, 26%);
$gray: hsl(231, 7%, 60%);
$white: hsl(0, 0%, 100%);

// Fonts
$Roboto: "Roboto", serif;

//Font Weight
$fw-regular: 400;
$fw-bold: 700;


