body {
  font-family: "Roboto", serif;
  font-size: 16px;
}

main {
  background-color: hsl(235, 18%, 26%);
  margin: 0;
  padding: 0;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  max-width: 23.4rem;
}

.signUpForm__picture {
  width: 100%;
}

.signUpForm__content {
  padding: 1.5rem;
  font-size: 400;
  color: hsl(234, 29%, 20%);
}
.signUpForm__content h1 {
  padding-bottom: 1rem;
  font-weight: 700;
}
.signUpForm__content p {
  padding-bottom: 1.5rem;
}
.signUpForm__content ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  position: relative; /* Allows positioning for custom bullet */
  padding-left: 2.3rem;
  list-style: none; /* Hides the default bullet points */
  gap: 0.5rem;
}
.signUpForm__content li::before {
  content: url("../assets/images/icon-list.svg");
  position: absolute;
  left: 0;
}
.signUpForm__content form {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
}
.signUpForm__content .form-check-label {
  font-weight: 700;
  font-size: 0.8rem;
}
.signUpForm__content .form-control {
  padding: 1rem 1.4rem;
  width: 100%;
  border-radius: 7px;
  border: 1px solid hsl(231, 7%, 60%);
  opacity: 75%;
}
.signUpForm__content .subscribeButton {
  background-color: hsl(234, 29%, 20%);
  text-align: center;
  color: hsl(0, 0%, 100%);
  width: 100%;
  padding: 1rem 0;
  border: 1px solid hsl(234, 29%, 20%);
  border-radius: 7px;
  font-weight: 500;
  margin-top: 1rem;
}
.signUpForm__content .form-control:hover {
  cursor: pointer;
  border-color: black;
}
.signUpForm__content .subscribeButton:hover,
.signUpForm__content .subscribeButton:focus {
  background-image: linear-gradient(to right, #ff537b, #f64417);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  border: none;
  outline: none; /* Removes default focus outline */
  box-shadow: 0 15px 20px rgb(255, 198, 207); /* Adds shadow */
  transition: box-shadow 0.3s ease; /* Smooth shadow transition */
}

.successMessage {
  display: none;
}

.invalid-feedback {
  font-weight: 700;
  position: absolute; /* Position the feedback message */
  top: 1.7rem; /* Move it above the input */
  right: -12rem; /* Align it to the right */
  font-size: 0.8rem;
  display: none; /* Hide by default; Bootstrap will toggle visibility */
}

.validated-form {
  position: relative; /* Ensure the form acts as a positioning context */
}

.successMessage {
  background-color: hsl(0, 0%, 100%);
  max-width: 23.4rem;
  font-size: 400;
  color: hsl(234, 29%, 20%);
  padding: 5rem 1rem;
}
.successMessage h1 {
  font-weight: 700;
  padding-bottom: 1rem;
  font-size: 2rem;
  line-height: 1;
}
.successMessage p {
  padding-bottom: 5.5rem;
}
.successMessage img {
  padding-bottom: 2rem;
  transform: scale(0.8); /* Scale down to 80% of its original size */
}
.successMessage button {
  background-color: hsl(234, 29%, 20%);
  text-align: center;
  color: hsl(0, 0%, 100%);
  width: 100%;
  padding: 1rem 0;
  border: 1px solid hsl(234, 29%, 20%);
  border-radius: 7px;
  font-weight: 500;
}
.successMessage button:hover,
.successMessage button:focus {
  background-image: linear-gradient(to right, #ff537b, #f64417);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  border: none;
  outline: none; /* Removes default focus outline */
  box-shadow: 0 15px 20px rgb(255, 198, 207); /* Adds shadow */
  transition: box-shadow 0.3s ease; /* Smooth shadow transition */
}

@media (min-width: 50rem) {
  .signUpForm {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 76rem;
    padding: 1.5rem;
    border-radius: 30px;
  }
  .signUpForm__picture {
    display: inline-block;
    width: auto;
    height: 100%;
    margin-left: 2rem;
  }
  .signUpForm__picture img {
    width: auto;
    max-width: 100%;
    display: block;
  }
  .signUpForm__content {
    padding: 3rem;
    padding-bottom: 0;
    max-width: 30rem;
  }
  .signUpForm__content h1 {
    font-size: 3.5rem;
  }
  .signUpForm__content form {
    padding: 1.5rem 0 3rem;
  }
  .invalid-feedback {
    top: 2.2rem;
    right: -12rem;
  }
  .successMessage {
    border-radius: 30px;
    max-width: 31rem;
    padding: 3rem;
    padding-bottom: 4rem;
  }
  .successMessage h1 {
    font-size: 3.5rem;
  }
  .successMessage p {
    padding-bottom: 1.5rem;
  }
  .successMessage img {
    transform: scale(1);
    padding-bottom: 1.5rem;
  }
}
@media (min-width: 50rem) and (min-width: 54rem) {
  .invalid-feedback {
    right: -13.2rem;
  }
}
@media (min-width: 50rem) and (min-width: 58rem) {
  .invalid-feedback {
    right: -14.4rem;
  }
}
@media (min-width: 50rem) and (min-width: 62.5rem) {
  .invalid-feedback {
    right: -15.8rem;
  }
}/*# sourceMappingURL=style.css.map */